<header class="l-header">
    <nav class="navbar fixed-top">
        <div class="container">
            <a class="navbar-brand my-0" href="./"><%= parameters.sitename %></a>
        </div>
    </nav>
</header>