@charset "utf-8";

@use "../../foundation" as f;

.c-parva {
    box-sizing: border-box;
    transition: opacity 1.6s, transform 1s;
    opacity: 0;
    transform: translateY(2rem);
    &.active {
        opacity: 1;
        transform: translateY(0);
    }
}
