@charset "utf-8";

@use "sass:color";
@use "../foundation" as f;

.l-header {
    .navbar-brand {
        &,
        &:link,
        &:visited {
            color: f.$main-color;
        }
        &:hover,
        &:active,
        &:focus {
            color: f.$main-color_l;
        }
    }
    .navbar {
        transition: background-color 0.3s ease;
        &.active {
            background-color: f.$main-color;
            color: f.$color;
            .navbar-brand {
                &,
                &:link,
                &:visited {
                    color: f.$color;
                }
                &:hover,
                &:active,
                &:focus {
                    color: color.adjust(f.$color, $lightness: 10%);
                }
            }
        }
    }
}
